<% breadcrumb :book, @book %>
<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= @book.title %></h1>
</div>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Des:</strong>
  <%= @book.des %>
</p>

<p>
  <strong>Category:</strong>
  <% if @book.category.nil? %>
  <td>Nil</td>
  <% else %>
  <td><%= @book.category.category_name %></td>
<% end %>
</p>



<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default'%> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %> |
<%= link_to 'Back', books_path, class: 'btn btn-default' %>
