<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Des:</strong>
  <%= @book.des %>
</p>

<p>
  <strong>Category:</strong>
  <% if @book.category.nil? %>
  <td>Nil</td>
  <% else %>
  <td><%= @book.category.category_name %></td>
<% end %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %>
