
<div class="page-header">
  <h1>Listing Categories</h1>
</div>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item"><%= link_to category.category_name, category %>
      <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default'%>
      <%= link_to 'Delete', category,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'%>
      <span class="badge"><%= category.books.count %></span>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-info' %> |
<% end %>
<%= link_to 'Seen Books', books_path, class: 'btn btn-info' %>
