<!DOCTYPE html>
<html>
<head>
  <title>BookstoreV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav navbar-inverse ">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Book Store", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav pull-right">
      <% if current_user %>
          <li><%= link_to current_user.email %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Log in", login_path %></a></li>
          <li><%= link_to "Sign up", signup_path %></a></li>
      <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
     <%= breadcrumbs  display_single_fragment: true, style: :bootstrap %>
  </div>
    <div class="container">
      <div class="body">
        <div class="body-left">
          <%= render template: 'categories/index' %>
        </div>
        <div class="body-right">
          <%= yield %>
        </div>
      </div>
    </div>


</body>
</html>
