<!DOCTYPE html>
<html>
<head>
  <title>BookstoreV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Book Store", root_path, class: "navbar-brand" %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="body">
      <div class="body-left">
        <%= render template: 'categories/index' %>
      </div>
      <div class="body-right">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
